

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Your account has been terminated.</h3>

<p>You were bad.</p>
<p>An admin has deleted your account.</p>

  </body>
</html>